/* Adds Row and Column highlighting! */
table {
  overflow: hidden;
  display:inline-block;
  
}
tr:hover {
  background-color: #cc5500;
  color: #ffffff;
}

th {
  background-color:#fff;
}

td, th {
  position: relative;
  border: 1px solid #999;
  padding: .5px;
   
}

td:hover::after,
th:hover::after {
  content: "";
  position: absolute;
  background-color: #cc5500;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

td:hover::before { 
    background-color: #eee;
    content: '';  
    height: 100%;
    left: -5000px;
    position: absolute;  
    top: 0;
    width: 10000px;   
    z-index: -2;        
}

body {
  margin:1em;
}

#sliderOutput, #instructions {
  color: white;
  text-align:center;

}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 150; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    padding: 2px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
}

